<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log response</title>
    <link rel="stylesheet" href="/css/logresponse.css">
</head>
<body>
    <div class="bodylike">
        <div class="showErrorMsg">
            <div>
                <img width="50px" src="/asstes/setting-error-04-stroke-rounded.svg" alt="Error logo">
            </div>
            <h1 class="bitgreyheading">Opps There is a problem</h1>
            <h2 class="theError"><%= msg %></h2>
            <p class="command">Please go back and correct the error to continue accessing the app seamlessly.</p>
        </div>
    </div>
</body>
</html>